<div class="shop__sidebar__search">
    <form  asp-controller="ürünler" asp-action="" method="post">
        <input type="text" name="searchTerm"  placeholder="Ara...">
        <button type="submit"><span class="icon_search"></span></button>
    </form>
</div>