
@model TechConnect.DtoUI.AddressDtos.CreateAddressDto

@{
    ViewData["Title"] = "AddAddress";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Adres İşlemleri</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Anasayfa</a>
                      
                        <span>Adres İşlemleri</span>
                        <span>>Adres Ekle </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form method="post" asp-action="AddAddress" asp-controller="Address">
                <div class="row">
                   
                        <div class="col-lg-12 col-md-6">
                            <h6 class="checkout__title">Adres Ekle</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Adınız<span>*</span></p>
                                        <input asp-for="Name" required type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Soyadınız<span>*</span></p>
                                        <input asp-for="Surname" required type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Numaranız<span>*</span></p>
                                        <input asp-for="Phone" required type="tel">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Emailiniz<span>*</span></p>
                                        <input asp-for="Email" required type="email">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>İl<span>*</span></p>
                                <input asp-for="City" requiredtype="text">
                            </div>
                            <div class="checkout__input">
                                <p>İlçe<span>*</span></p>
                                <input asp-for="District" required type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Mahalle<span>*</span></p>
                                <input asp-for="District2" required type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Adres<span>*</span></p>
                                <input asp-for="RealAddress" required style="height:100px;" type="text" placeholder=".. Mahallesi .. Sokak .. No .. Kat .." class="checkout__input__add">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Adres Başlığı<span>*</span></p>
                                        <input asp-for="AddressTitle" required type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Posta Kodu<span>*</span></p>
                                        <input asp-for="ZipCode" required type="text">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" style="width:500px;margin-left:300px;" class="site-btn">Adres Ekle</button>
                        </div>
                    
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
