@model TechConnect.DtoUI.AboutDtos.GetByIdAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Hakkımızda</strong>  Güncelle
        </div>
        <div class="card-body card-block">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <input type="hidden" asp-for="ID"/>
                <input type="hidden" asp-for="Status"/>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Ana Görsel Url</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="text-input" asp-for="ImageUrl" placeholder="Url yi giriniz..." class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="textarea-input" class=" form-control-label">Açıklama 1</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea asp-for="Description1" id="textarea-input" rows="9" placeholder="Açıklama 1..." class="form-control"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="textarea-input" class=" form-control-label">Açıklama 2</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea asp-for="Description2" id="textarea-input" rows="9" placeholder="Açıklama 2..." class="form-control"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="textarea-input" class=" form-control-label">Açıklama 3</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea asp-for="Description3" id="textarea-input" rows="9" placeholder="Açıklama 3..." class="form-control"></textarea>
                    </div>
                </div>
                <br /><br />
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Güncelle
                </button>

            </form>
        </div>
    </div>
</div>


