
<div class="cart__discount">
    <h6>İNDİRİM Kuponu</h6>
    <form asp-action="ConfirmDiscountCoupon" asp-controller="Discount" method="post">
        <input type="text" name="Code"  placeholder="Kupon Kodu">
        <button type="submit">Uygula</button>
    </form>
</div>