@model List<TechConnect.DtoUI.TagDtos.ResultTagDto>

<div class="card">
    <div class="card-heading">
        <a data-toggle="collapse" data-target="#collapseSix">Etiketler</a>
    </div>
    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
            <div class="shop__sidebar__tags">
                @foreach(var item in Model)
                {
                    <a href="@item.Url">@item.TagName</a>
                }
            </div>
        </div>
    </div>
</div>