    <!-- Counter Section Begin -->
<section class="counter spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">@ViewBag.sipariş</h2>
                    </div>
                    <span>Geçmiş<br />Siparişlerimiz</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">@ViewBag.kategori</h2>
                    </div>
                    <span>Toplam <br />Kategori</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">@ViewBag.ürün</h2>
                    </div>
                    <span>Toplam <br />Ürün Çeşidi</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">98</h2>
                        <strong>%</strong>
                    </div>
                    <span>Mutlu <br />Nüşteriler</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->