@model List<TechConnect.DtoUI.SliderDtos.ResultSliderDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
    int sayaç = 0;
}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Slider İşlemleri</h3>
        <small style="color:darkred;">*Bir tane olmasına özen gösterin aksi takdirde slider kısmı düzgün görünmeyecektir.</small>
        <br /><br />
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Görsel Urlsi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        sayaç++;
                        <tr class="tr-shadow">
                            <td style="color:darkred;">@sayaç</td>
                       
                            <td class="desc">@item.Title</td>
                            <td class="desc">@item.Description</td>
                            <td><img src="@item.ImageUrl" /></td>
                            
                            <td>
                                <div class="table-data-feature">

                                    <a class="btn btn-dark" href="/Admin/Slider/UpdateSlider/@item.ID" style="margin-right:5px;" data-toggle="tooltip" data-placement="top" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>
                                    <a class="btn btn-dark" href="/Admin/Slider/DeleteSlider/@item.ID" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->

        <br /><br />
        <div class="table-data__tool">
            <div class="table-data__tool-right">
                <a href="/Admin/Slider/AddSlider/" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>Slider Ekle
                </a>
            </div>
        </div>
    </div>
</div>
