<form class="search-model-form" asp-controller="ürünler" asp-action="arama" method="post">
    <input type="text" id="search-input" name="searchTerm" placeholder="Aranacak ürünü,kategoriyi veya markayı giriniz.....">
    <button type="submit" style="opacity:0;"></button>
</form>